PUT YOUR SHIPS HERE: <%= @board.max_ships %>
<br>
LEFT: <input id="left" type="text" value="<%= @board.max_ships %>" disabled/>
<br>
<form action="/players/<%= @user.id %>/games/<%= @game.id %>" method="post" onsubmit="return validate()">

<table border="2">
	<%for i in (1..@board.size) %>
		<tr>
			<%for x  in (1..@board.size) %>
				<td>
					<input type="button" class="btn" id="<%= i %> - <%= x %>" value="<%= i %> - <%= x %>" onclick="choice(this,'<%= i %>','<%= x %>')"  />
				</td>
			<% end %>
		</tr>
	<% end %>
</table>

<input type="submit" value="Start Game ! ! !" class="submit">


</form>

<script>
    
    total_marcados= <%= @board.max_ships %>

	function choice(input,coorX,coorY){
		if(total_marcados>0 && input.value!="<=>"){
			//alert(coorX+" "+coorY);
			total_marcados--; //Disminuye
			document.getElementById("left").value=total_marcados
			$.ajax({
	            type: 'PUT',
	            url: "/players/<%= @user.id %>/games/<%= @game.id %>",
	            data: {coor_x: coorX, coor_y: coorY },
	            success: function (data) {
	                input.value="<=>"
	            }
	        });
		}
		else
		{
			alert("You have no power over HERE!")
		}
	}

	function validate(){
		if (total_marcados > 0 ) {
			alert("Aun te faltan posicionar barcos");
			return false;
		}
		else{
			return true;	
		}


		
	}

</script>