PUT YOUR SHIPS HERE: <%= @board.max_ships %>
<br>
LEFT: <input id="left" type="text" value="<%= @board.max_ships %>" disabled/>
<br>
<script type="text/javascript" src="../js/jquery-2.1.3.js"></script>
<form action="/players/<%= @user.id %>/games/<%= @game.id %>" method="post">
	 <input name="_method" value="put" type="hidden"/>

<table border="2">
	<%for i in (1..@board.size) %>
		<tr>
			<%for x  in (1..@board.size) %>
				<td>
					<input type="button" class="btn" id="<%= i %> - <%= x %>" value="<%= i %> - <%= x %>" onclick="choice(this,'<%= i %>','<%= x %>')" />
				</td>
			<% end %>
		</tr>
	<% end %>
</table>

<input type="submit" value="Start Game papurri!">


</form>

<script>
    
    total_marcados= <%= @board.max_ships %>

	function choice(input,coorX,coorY){
		if(total_marcados>0 && input.value!="<=>"){
			//alert(coorX+" "+coorY);
			total_marcados--; //Disminuye
			document.getElementById("left").value=total_marcados
			$.ajax({
	            type: 'PUT',
	            url: "/players/<%= @user.id %>/games/<%= @game.id %>",
	            data: {coor_x: coorX, coor_y: coorY },
	            success: function (data) {
	                
	                input.value="<=>"
	            }
	        });
		}
		else
		{
			alert("You have no power over HERE!")
		}
	}


</script>